<nz-layout>
  <nz-sider nzCollapsible  [nzCollapsedWidth]="64" [(nzCollapsed)]="sidebarService.isCollapsed" [nzTrigger]="null">
    <app-logo></app-logo>
    <div class="sidebar-form">
      <app-sidebar></app-sidebar>
    </div>
  </nz-sider>
  <nz-layout>
    <app-header></app-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
    <nz-footer>Footer</nz-footer>
  </nz-layout>
</nz-layout>

<!-- 
<nz-layout>
  <nz-header>Header</nz-header>
  <nz-layout>
    <nz-sider>Sider</nz-sider>
    <nz-content>Content</nz-content>
  </nz-layout>
  <nz-footer>Footer</nz-footer>
</nz-layout> -->
