
:host {
  width: 100%;
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.app-layout {
  height: 100vh;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
}

nz-content {
  margin: 0px;
}

nz-header {

  padding: 0px 10px;

}

nz-sider {
  min-height: 100vh;
  max-height: 100vh;
  width: 250px;
}

.sidebar-form {
  overflow-y: auto;
  height: calc(100vh - 64px);
}