<!-- zoom-control 鼠标滚轮缩放指令 -->
<!-- rubber-band 橡皮筋指令，用于框选对象 -->
<div class="scrollViewer" #scrollViewer zoom-control rubber-band (contextmenu)="contextMenu($event, menu)"
  [canvas]="this">
  <div class="continer" [ngStyle]="{'transform': 'scale(' + zoomScale + ')' }">
    <ng-container #ChildrenView>
    </ng-container>
  </div>

  <!-- scrollViewer 平移组件 用于鼠标控制区域平移 -->
  <hmi-pan-control *ngIf="spaceKeyDown" pan-control [canvas]="this">
    <!-- 编辑器工作区域平移面板 -->
  </hmi-pan-control> 

  <!-- 拖动对齐线 -->
  <hmi-snap-line *ngIf="hSnapLines[0]" [canvas]="this" [position]="hSnapLines[0]" class="snap-line-h">
  </hmi-snap-line>
  <hmi-snap-line *ngIf="hSnapLines[1]" [canvas]="this" [position]="hSnapLines[1]" class="snap-line-h">
  </hmi-snap-line>
  <hmi-snap-line *ngIf="hSnapLines[2]" [canvas]="this" [position]="hSnapLines[2]" class="snap-line-h">
  </hmi-snap-line>
  <hmi-snap-line *ngIf="vSnapLines[0]" [canvas]="this" [position]="vSnapLines[0]" class="snap-line-v">
  </hmi-snap-line>
  <hmi-snap-line *ngIf="vSnapLines[1]" [canvas]="this" [position]="vSnapLines[1]" class="snap-line-v">
  </hmi-snap-line>
  <hmi-snap-line *ngIf="vSnapLines[2]" [canvas]="this" [position]="vSnapLines[2]" class="snap-line-v">
  </hmi-snap-line>
</div>
 


<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>撤销</li>
    <li nz-menu-item>重做</li>
    <hr>
    <!-- <li nz-menu-item>剪切</li> -->
    <li nz-menu-item>刷新</li>
    <li nz-menu-item>粘贴</li>
    <li nz-menu-item>全选</li>
  </ul>
</nz-dropdown-menu>