.ant-menu.ant-menu-inline-collapsed {
  width: 64px !important;
}

.ant-btn>.anticon {
  line-height: 0px;
  vertical-align: middle;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: Roboto, 'Segoe UI', Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5715;
  font-feature-settings: 'tnum', "tnum";
}