@import (multiple) '~ng-zorro-antd/src/style/themes/dark.less';
@import './base.less';
// 
@component-background: #222b45;

@menu-border-bottom: solid 1px #2e3958;

@menu-item-border-color: #2e3958;

@menu-item-active-bg : #001e3e;

@layout-sider-background: @component-background;
@layout-header-background: #151a30;