@import (multiple) '~ng-zorro-antd/src/style/themes/dark.less';
@import './base.less';
// 
@menu-border-bottom: solid 1px rgb(51, 51, 51);
@layout-sider-background: @component-background;
@layout-header-background: @component-background;