@import (multiple) '~ng-zorro-antd/src/style/themes/default.less';
@import './base.less';


@white: #fff;

@menu-border-bottom: solid 1px #DBDBDB;

@layout-sider-background: @white;
@layout-trigger-background: @white;
@layout-header-background: @white;

@menu-item-border-color: #DBDBDB;
@menu-item-active-bg : #a6e3ff;




@scroll-width: 5px;
@scroll-height: 5px;
@scroll-background: #DBDBDB;
@scroll-thumb-radius: 2px;
@scroll-thumb-color: #535353;
@scroll-thumb-hover-color: #164a72;
@scroll-thumb-active-color: #157DCF;