@import (multiple) '~ng-zorro-antd/src/style/themes/default.less';
@import './base.less';
// (multiple)
@white:#fff;
@menu-border-bottom: solid 1px #333;
@layout-sider-background: @white;
@layout-trigger-background: @white;
@layout-header-background: @white;