@import (multiple) '~ng-zorro-antd/src/style/themes/aliyun.less';
@import './base.less';
// (multiple)
@menu-border-bottom: solid 1px rgb(180, 180, 180);
// @layout-header-background: #ffffff; 
@white:#fff;
@layout-sider-background: @white;
@layout-trigger-background: @white;
@layout-header-background: @white;