<div [ngStyle]="{ 'pointer-events': canvas.ctrlPressed ? 'none' : ''}" class="move-button"
  (contextmenu)="contextMenu($event, menu)" moveAnchor [host]="this" [editor]="editor"> </div>

<div class="anchor left-button" *ngIf="!editor.selection.hasLocking" resizeAnchor [host]="this" [editor]="editor"
  position="l"> </div>
<div class="anchor right-button" *ngIf="!editor.selection.hasLocking" resizeAnchor [host]="this" [editor]="editor"
  position="r"> </div>
<div class="anchor top-button" *ngIf="!editor.selection.hasLocking" resizeAnchor [host]="this" [editor]="editor"
  position="t"> </div>
<div class="anchor down-button" *ngIf="!editor.selection.hasLocking" resizeAnchor [host]="this" [editor]="editor"
  position="d"> </div>
<div class="anchor lTop-button" *ngIf="!editor.selection.hasLocking" resizeAnchor [host]="this" [editor]="editor"
  position="lt"> </div>
<div class="anchor rTop-button" *ngIf="!editor.selection.hasLocking" resizeAnchor [host]="this" [editor]="editor"
  position="rt"> </div>
<div class="anchor lDown-button" *ngIf="!editor.selection.hasLocking" resizeAnchor [host]="this" [editor]="editor"
  position="ld"> </div>
<div class="anchor rDown-button" *ngIf="!editor.selection.hasLocking" resizeAnchor [host]="this" [editor]="editor"
  position="rd"> </div>



<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu>
    <li nz-menu-item>置于顶层</li>
    <li nz-menu-item>置于底层</li>
    <li nz-menu-item>移至上一层</li>
    <li nz-menu-item>移至下一层</li>
    <li nz-menu-item *ngIf="!editor.selection.hasGrouping && editor.selection.objects.length > 1"
      (click)="editor.groupObjects()">组合</li>
    <li nz-menu-item *ngIf="editor.selection.hasGrouping  && editor.selection.objects.length > 1"
      (click)="editor.unGroupObjects()">拆分</li>

    <li nz-menu-item *ngIf="!editor.selection.hasLocking && editor.selection.objects.length > 0"
      (click)="editor.lockObjects()">锁定</li>
    <li nz-menu-item *ngIf="editor.selection.hasLocking && editor.selection.objects.length > 0"
      (click)="editor.unlockObjects()">解除锁定</li>
    <li nz-menu-item>拷贝样式</li>
    <hr>
    <li nz-menu-item>剪切(ctrl + x)</li>
    <li nz-menu-item>拷贝(ctrl + c)</li>
    <li nz-menu-item>粘贴(ctrl + v)</li>
    <li nz-menu-item>删除(delete)</li>
  </ul>
</nz-dropdown-menu>
