:host ::ng-deep {

  .prioerty-continer{
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
  // .event-item {
  //   .prioerty-row {
  //     padding: 5px 0px;
  //   }
  // }
  // .event-item:last-child {
  //   .prioerty-row {
  //     padding: 10px 5px 10px 5px;
  //   }
  // }
}
