<div class="flex">
    <ngx-collapse [header]="category.name" [expanded]="true" *ngFor="let category of provider.categorys;">
        <div class="widget-continer">
            <div class="widget-item" nz-tooltip [nzTooltipTitle]="widget.name" draggable="true"
                (dragstart)="widget_dragstart(widget,$event)" 
                (dragend)="widget_dragend(widget,$event)" 
                (dblclick)="widget_dblClick(widget,$event)" 
                nzTooltipPlacement="right"
                *ngFor="let widget of category.children;">
                <div>
                    <i nz-icon class="widget-icon" [nzIconfont]="widget.icon"></i>
                </div>
            </div>
        </div>
    </ngx-collapse>

</div>