<div class="hmi-editor-area">
  <as-split direction="horizontal" gutterSize="5" [useTransition]="true" gutterDblClickDuration="300" [unit]="'pixel'"
    (gutterDblClick)="gutterDblClick($event)">
    <!-- 左侧小部件对象列表  和小部件组件列表  [visible]="leftAreaVisible"-->
    <as-split-area [size]="200" [order]="0">
      <p>LEFT</p>
    </as-split-area>
    <!-- 中间工作区 -->
    <as-split-area [order]="1">
      <ngx-disigner-canvas #canvas hmi-disigner-hotkey [editor]="this">
      </ngx-disigner-canvas>
      <div *ngIf="!leftAreaVisible" class="sidebar-gutter left" (click)="gutterDblClick({gutterNum:1})">
      </div>
      <!-- as-split-gutter -->
      <div *ngIf="!rightAreaVisible" class="sidebar-gutter  right"
        (click)="gutterDblClick({gutterNum:2})">
      </div>
    </as-split-area>
    <!-- 右侧属性栏   [visible]="rightAreaVisible" -->
    <as-split-area [size]="200" [order]="2">
      <p>RIGHT</p>
    </as-split-area>
  </as-split>
</div>
