:host {
  position: relative;
  width: 100%;
  height: 100%;

  .hmi-editor-area {
    width: 100%;
    height: 100%;

    ngx-disigner-canvas {
      width: 100%;
      height: 100%;
    }
  }

  .sidebar-gutter {
    width: 5px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    top: calc(50% - 15px);
    background-color: fade(#007ACC, 20%) !important;
  }

  .left {
    left: 0;
    background-color: RED !important;
  }

  .right {
    right: 0;
    background-color: RED !important;
  }
}

::ng-deep .as-split-area {
  position: relative;
}

::ng-deep .as-split-gutter {
  transition: all 0.3s;
  background-color: fade(#333333, 10%) !important;
}

::ng-deep .as-split-gutter:active {
  background-color: #007acc !important;
}

::ng-deep .as-split-gutter-icon {
  cursor: pointer;
  height: 30px !important;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAIAAABrHEPqAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAUSURBVChTY2CoOoOCRvnDiF91BgCohr8F8n1mswAAAABJRU5ErkJggg==") !important;
}